.modal-container {
  max-width: 1160px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: var(--color-white);
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.10);
  @media (max-width: 320px) {
    align-items: start;
  }
  &.modal-show {
    display: flex;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 200px 0;
    @media (max-width: 320px) {
      align-items: start;
      padding: 50px 0;
      min-height: 590px;
    }
    .modal-content {
      .title {
        text-align: center;
        margin-top: 30px;
      }
      .img {
        margin: 0 auto;
        max-width: 96px;
        &img {
          width: 100%;
        }
      }
    }
  }
}