:root {
  //dark
  --color-dark-700: #353535;
  --color-dark-400: #ADADAD;
  --color-dark-300: #E3E3E3;

  //white
  --color-white: #FFF;

  //warning
  --color-warning-700: #FF6565;

  //gradient
  --color-gradient: linear-gradient(90deg, #4333FF 0%, #07FFD2 92.98%);
  // blue
  --color-blue-900: #3D46FA;
}